<div class="error-container">
    <div class="error-wrapper">
        <span class="server-error-code">500</span>
        <span class="server-error-info">
            Упс! Ошибка на стороне сервера...<br />
            Мы можем предложить Вам кое-что другое!
        </span>
        <button class="action-button text-regular" onclick="location.href = '/products/filter?isMan=false';">В КАТАЛОГ</button>
    </div>
</div>

<link href="~/css/ErrorStyle.css" rel="stylesheet" />
