<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/HomeStyle.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<div class="content-home">
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" style="display:block;">
                <img src="~/img/home-image4.jpg" alt="Image 4">
            </div>
        </div>
    </div>
</div>
@*<script src="~/js/CarouselScript.js"></script>*@