body {
}

.brand-info-wrapper {
    max-width: 625px;
    margin: auto;
}

.brand-info-inner {
    margin: 40px 0;
}

.brand-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.brand-info-inner img {
    width: 100%;
}

.brand-description-wrapper {
    margin-bottom: 30px;
}

.brand-description {
}

.sex-buttons-wrapper {
    display: flex;
    gap: 10px;
}

    .sex-buttons-wrapper button {
        width: -webkit-fill-available;
    }


@media(max-width:768px) {

    .brand-info-inner {
        margin: 20px 16px 40px 16px;
    }

    .sex-buttons-wrapper {
        flex-direction: column;
    }

    .brand-logo {
        margin-bottom: 20px;
    }
}
