html {
    overflow-x: hidden;
}

body {
    margin:unset;
}

.mobile-price-info-wrapper {
    display: none;
}

.cart-wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.purchase-info-wrapper {
    margin: 40px 0px auto auto;
}

    .purchase-info-wrapper form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        /*width: 624px;*/
    }

.products-in-cart-wrapper {
    display: flex;
    width: 345px;
    margin: 60px 0 auto auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.personal-info-initial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.input-with-label-wrapper {
    width: 100%;
}

    .input-with-label-wrapper label {
        margin-bottom: 5px;
        color: #000;
        display: block;
        font-family: Roboto Condensed;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: all-small-caps;
        letter-spacing: 1.2px;
    }

    .input-with-label-wrapper input[type=text] {
        width: -webkit-fill-available;
    }


input[type="text"] {
    font-family: Roboto Condensed;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid #B8B8B8;
}

input[type='button'] {
    background: #fff;
}

.self-pick-up-options-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .self-pick-up-options-wrapper label {
        color: #000;
        /* 15 regular small */
        font-family: Roboto Condensed;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 18px */
        letter-spacing: 1.2px;
    }

    .self-pick-up-options-wrapper input[type='radio'] {
        height: 16px;
        accent-color: #000;
        background-color: #000;
    }

.self-pick-up-option {
    display: flex;
}

    .self-pick-up-option label {
        margin-left: 13px;
    }

.adress-input-wrapper {
    display: none;
    margin-top: 30px;
}

    .adress-input-wrapper .input-with-label-wrapper {
        margin-top: 10px;
    }

input[type='radio']:checked:after {
}

.delivery-options-buttons-inner {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.promocode-header {
    margin-bottom: 20px;
}

.promocode-input {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

    .promocode-input .action-button {
        width: 100%;
    }

.payment-type-initial {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.cart-button {
    display: flex;
    padding: 5px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
}

.promocode-button {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    height: 38px;
    min-width: 20px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
}

    .cart-button:hover, .promocode-button:hover, input[type='submit']:hover {
        background: #000;
        color: #fff;
    }

input[type=submit]:hover {
    cursor: pointer;
}

.text-medium-cart {
    /* 15 medium */
    font-family: Roboto Condensed;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}


.selected-button {
    background: #000 !important;
    color: #fff;
}

.payment-type-radio-button {
    display: inline-block;
    margin-right: 10px;
}

    .payment-type-radio-button input[type =radio] {
        display: none;
    }

    .payment-type-radio-button label {
        display: inline-block;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 34px;
        border: 1px solid #000;
        user-select: none;
    }

    .payment-type-radio-button input[type=radio]:checked + label {
        background: #000;
        color: #fff;
    }

    .payment-type-radio-button label:hover {
        background: #000;
        color: #fff;
    }


/**/

.mobile-products-in-cart-wrapper {
    margin-top: 40px;
    display: none;
    width: 100%;
    overflow-x: scroll;
}

.mobile-products-in-cart {
    display: flex;
    gap: 30px;
}


.sum-price-info-wrapper {
    padding-bottom: 5px;
    align-items: flex-start;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #ababab;
}

.price-info-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-sum-wrapper {
    margin-top: 25px;
}

.cart-info-inner {
    margin-top: 40px;
    display: inline-block;
    padding: 0px 20px;
    float: right;
}

.payment-module-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-notification {
    display: flex;
    flex-direction: column;
}

.confidentiality-policy-notification-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

    .confidentiality-policy-notification-wrapper a {
        text-decoration: underline;
    }

@media(max-width:1280px) {
    form input[type="text"] {
        width: 94%;
    }

    .purchase-info-wrapper {
        margin: 40px auto auto auto;
    }

}

@media(max-width:1000px) {
    /*.cart-wrapper {
        grid-template-columns: 50% 50%;
    }*/

    .purchase-info-wrapper form {
        width: unset;
    }

    .purchase-info-wrapper{
        margin-left:20px;
    }
}

@media(max-width: 768px) {
    .mobile-products-in-cart-wrapper {
        display: block;
    }

    .products-in-cart-wrapper {
        display: none;
    }

    .cart-wrapper {
        margin-top: 20px;
        display: block;
    }

    .product-in-cart-img {
        max-width: 66px;
        max-height: 97px;
        object-fit:contain
    }

    .product-in-cart-brand {
        text-wrap: nowrap;
    }

    .purchase-info-wrapper {
        margin: 60px 0;
    }

    .cart-info-wrapper {
        display: none;
    }

    .mobile-price-info-wrapper {
        display: block;
    }

    .promocode-input {
        flex-direction: column;
    }
}
