body {
}

.product-in-cart-wrapper, .cart-product-in-cart-wrapper {
    display: flex;
    gap: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    align-items: flex-start;
}

.product-in-cart-img {
    max-width: 95px;
    max-height: 138px;
    object-fit: contain;
}

.product-in-cart-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 20px;
}

    .product-in-cart-content-wrapper span {
        text-wrap: nowrap;
    }

.product-in-cart-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.amount-and-sum-wrapper {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:20px;
}

.product-in-cart-amount-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.minus-icon {
    height: 12px;
    width: 14px;
    background: url('../img/minus_icon.svg');
}

.plus-icon {
    height: 14px;
    width: 14px;
    background: url('../img/plus_icon.svg');
}

.remove-icon {
    width: 16px;
    height: 18px;
    justify-content: center;
    align-items: center;
    background: url('../img/remove_icon.svg');
    cursor: pointer;
}

.product-in-cart-menu-old-price {
    color: #ababab;
    text-decoration-line: line-through;
}

.sale-price-menu-wrapper {
    height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.product-in-cart-sku {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.brand-and-remove-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

@media(max-width:768px) {
}
