@model ProductsViewModel
<div class="upper-head">
</div>

@if (Model.Brand != null)
{
    <div class="brand-info-wrapper">
        <div class="brand-info-inner">
            <div class="brand-logo">
                <img src="~/img/@Model.Brand.Logo" />
            </div>
            <div class="brand-description-wrapper">
                <span class="brand-description text-regular-small">@Model.Brand.Description</span>
            </div>
            @if (Model.Products.Any(x => x.IsMan == true) && Model.Products.Any(x => x.IsMan == false))
            {
                <div class="sex-buttons-wrapper">
                    <button class="action-button text-regular" onclick="selectBrandSex('man')">МУЖСКАЯ КОЛЛЕКЦИЯ</button>
                    <button class="action-button text-regular" onclick="selectBrandSex('woman')">ЖЕНСКАЯ КОЛЛЕКЦИЯ</button>
                </div>
            }
        </div>
    </div>
}
<div class="categories-and-sort-inner">
    <button id="filter-button" class="category-with-icon-button" onclick="openFiltersMenu()">
        <div class="button-container-inner ">
            <i class="icon filter-icon"></i>
            <span class="text-regular">ФИЛЬТРЫ</span>
        </div>
    </button>
    <div class="sort-popup-wrapper">
        <button id="sort-button-current" class="category-with-icon-button">
            <div class="button-container-inner">
                <i class="icon sort-icon"></i>
                <span id="sort-button-current-span" class="text-regular"></span>
            </div>
        </button>
        <div id="sort-dropdown-content">
            <button class="text-regular-caps" onclick="sortProducts(this)" data-sortoptions="0">ПО НОВИЗНЕ</button>
            <button class="text-regular-caps" onclick="sortProducts(this)" data-sortoptions="1">ПО УБЫВАНИЮ ЦЕНЫ</button>
            <button class="text-regular-caps" onclick="sortProducts(this)" data-sortoptions="2">ПО ВОЗРАСТАНИЮ ЦЕНЫ</button>
            <button class="text-regular-caps sale-button" onclick="sortProducts(this)" data-sortoptions="3">ПО СКИДКАМ</button>
        </div>
    </div>
</div>
<div id="products-fitler-wrapper" onclick="">
    <div class="products-filter-inner">
        <div class="close-icon-wrapper" data-close="products-fitler-wrapper">
            <i class="icon close-icon"></i>
        </div>
        <div class="product-filters-buttons-wrapper">
            <div class="filters-information-rectangle">
                <i class="icon filter-icon-white"></i>
                <span class="text-regular">ФИЛЬТРЫ</span>
            </div>
            <div class="remove-filters-button-wrapper">
                <a id="remove-filters-button" onclick="removeFilters()">
                    СБРОСИТЬ ВСЕ
                </a>
            </div>
        </div>
        <div class="products-filters-collabsiables collapsible-wrapper">
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">КАТЕГОРИЯ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <div id="woman-filter-categories" class="clothes-type-categories">
                        @if (Model.CategoryType == Database.Entities.Enums.CategoryType.Default)
                        {
                            <div class="all-categories-inner filter-wrapper">
                                <button class="filter-button all-category" data-category="1">ОДЕЖДА</button>
                                <button class="filter-button all-category" data-category="2">ОБУВЬ</button>
                                <button class="filter-button all-category" data-category="3">АКСЕССУАРЫ</button>
                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Clothes)
                        {
                            <div class="clothes-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="футболка,топ">ФУТБОЛКИ И ТОПЫ</button>
                                <button class="filter-button" data-category="жакет">ЖАКЕТЫ</button>
                                <button class="filter-button" data-category="толстовка,свитшот">ТОЛСТОВКИ И СВИТШОТЫ</button>
                                <button class="filter-button" data-category="свитер,джемпер">СВИТЕРЫ И ДЖЕМПЕРЫ</button>
                                <button class="filter-button" data-category="платье">ПЛАТЬЯ</button>
                                <button class="filter-button" data-category="юбка">ЮБКИ</button>
                                <button class="filter-button" data-category="рубашка,блуза">РУБАШКИ И БЛУЗЫ</button>
                                <button class="filter-button" data-category="брюки,шорты">БРЮКИ И ШОРТЫ</button>
                                <button class="filter-button" data-category="джинсы">ДЖИНСЫ</button>
                                <button class="filter-button" data-category="sport">СПОРТИВНАЯ ОДЕЖДА</button>
                                <button class="filter-button" data-category="пляжная одежда">ПЛЯЖНАЯ ОДЕЖДА</button>
                                <button class="filter-button" data-category="верхняя одежда">ВЕРХНЯЯ ОДЕЖДА</button>

                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Footwear)
                        {
                            <div class="footwear-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="кроссовки">КРОССОВКИ</button>
                                <button class="filter-button" data-category="ботинки">БОТИНКИ</button>
                                <button class="filter-button" data-category="кеды">КЕДЫ</button>
                                <button class="filter-button" data-category="сандали">САНДАЛИ</button>
                                <button class="filter-button" data-category="туфли">ТУФЛИ</button>

                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Accessories)
                        {
                            <div class="accessories-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="головной убор">ГОЛОВНЫЕ УБОРЫ</button>
                                <button class="filter-button" data-category="сумка">СУМКИ</button>
                                <button class="filter-button" data-category="украшение">УКРАШЕНИЯ</button>
                                <button class="filter-button" data-category="аксессуар">АКСЕССУАРЫ</button>
                            </div>
                        }
                    </div>
                    <div id="man-filter-categories" class="clothes-type-categories">
                        @if (Model.CategoryType == Database.Entities.Enums.CategoryType.Default)
                        {
                            <div class="all-categories-inner filter-wrapper">
                                <button class="filter-button all-category" data-category="1">ОДЕЖДА</button>
                                <button class="filter-button all-category" data-category="2">ОБУВЬ</button>
                                <button class="filter-button all-category" data-category="3">АКСЕССУАРЫ</button>
                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Clothes)
                        {
                            <div class="clothes-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="футболка">ФУТБОЛКИ</button>
                                <button class="filter-button" data-category="рубашка">РУБАШКИ</button>
                                <button class="filter-button" data-category="толстовка,свитшот">ТОЛСТОВКИ И СВИТШОТЫ</button>
                                <button class="filter-button" data-category="свитер,джемпер">СВИТЕРЫ И ДЖЕМПЕРЫ</button>
                                <button class="filter-button" data-category="пиджак">ПИДЖАКИ</button>
                                <button class="filter-button" data-category="брюки,шорты">БРЮКИ И ШОРТЫ</button>
                                <button class="filter-button" data-category="джинсы">ДЖИНСЫ</button>
                                <button class="filter-button" data-category="sport">СПОРТИВНАЯ ОДЕЖДА</button>
                                <button class="filter-button" data-category="верхняя одежда">ВЕРХНЯЯ ОДЕЖДА</button>

                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Footwear)
                        {
                            <div class="footwear-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="кроссовки">КРОССОВКИ</button>
                                <button class="filter-button" data-category="ботинки">БОТИНКИ</button>
                                <button class="filter-button" data-category="кеды">КЕДЫ</button>
                                <button class="filter-button" data-category="сандали">САНДАЛИ</button>
                                <button class="filter-button" data-category="туфли">ТУФЛИ</button>

                            </div>
                        }
                        else if (Model.CategoryType == Database.Entities.Enums.CategoryType.Accessories)
                        {
                            <div class="accessories-categories-inner filter-wrapper">
                                <button class="filter-button" data-category="сумка">СУМКИ</button>
                                <button class="filter-button" data-category="аксессуар">АКСЕССУАРЫ</button>
                            </div>
                        }
                    </div>
                </div>
                <hr />
            </div>
            @if (Model.CategoryType != CategoryType.Default && Model.CategoryType != CategoryType.Accessories)
            {
                <div class="collapsible">
                    <button class="collapsible-button">
                        <span class="collapsible-name text-small-caps">РАЗМЕР</span>
                        <i class="collapsible-icon"></i>
                    </button>
                    <div class="collapsible-content text-regular-small">
                        <div class="sizes-inner">
                            @if (Model.CategoryType == CategoryType.Clothes)
                            {

                                <div class="size-wrapper text-regular-caps" data-size="38">38</div>
                                <div class="size-wrapper text-regular-caps" data-size="40">40</div>
                                <div class="size-wrapper text-regular-caps" data-size="42">42</div>
                                <div class="size-wrapper text-regular-caps" data-size="44">44</div>
                                <div class="size-wrapper text-regular-caps" data-size="46">46</div>
                                <div class="size-wrapper text-regular-caps" data-size="48">48</div>
                                <div class="size-wrapper text-regular-caps" data-size="50">50</div>
                            }
                            else if (Model.CategoryType == CategoryType.Footwear)
                            {
                                <div class="size-wrapper text-regular-caps" data-size="36">36</div>
                                <div class="size-wrapper text-regular-caps" data-size="36.5">36.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="37">37</div>
                                <div class="size-wrapper text-regular-caps" data-size="37.5">37.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="38">38</div>
                                <div class="size-wrapper text-regular-caps" data-size="38.5">38.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="39">39</div>
                                <div class="size-wrapper text-regular-caps" data-size="39.5">39.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="40">40</div>
                                <div class="size-wrapper text-regular-caps" data-size="40.5">40.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="41">41</div>
                                <div class="size-wrapper text-regular-caps" data-size="41.5">41.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="42">42</div>
                                <div class="size-wrapper text-regular-caps" data-size="42.5">42.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="43">43</div>
                                <div class="size-wrapper text-regular-caps" data-size="43.5">43.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="44">44</div>
                                <div class="size-wrapper text-regular-caps" data-size="44.5">44.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="45">45</div>
                                <div class="size-wrapper text-regular-caps" data-size="45.5">45.5</div>
                                <div class="size-wrapper text-regular-caps" data-size="46">46</div>
                                <div class="size-wrapper text-regular-caps" data-size="46.5">46.5</div>
                            }
                        </div>
                    </div>
                    <hr />
                </div>
            }
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">ЦЕНА</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <div class="price-slider-wrapper">
                        <div class="price-input-wrapper">
                            <label class="price-input-label" for="price-min">От:</label>
                            <label class="price-input-label" for="price-max">До:</label>
                            <div class="price-input">
                                <input id="price-min" type="number" class="price-input-min" value="" />
                                <input id="price-max" type="number" class="price-input-max" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">БРЕНД</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small brands-filter">
                    <button class="filter-button" data-brand="altea">ALTEA</button>
                    <button class="filter-button" data-brand="acne studios">ACNE STUDIOS</button>
                    <button class="filter-button" data-brand="autry">AUTRY</button>
                    <button class="filter-button" data-brand="botega veneta">BOTTEGA VENETA</button>
                    <button class="filter-button" data-brand="by far">BY FAR</button>
                    <button class="filter-button" data-brand="cult gaia">CULT GAIA</button>
                    <button class="filter-button" data-brand="dirk bikkembergs">DIRK BIKKEMBERGS</button>
                    <button class="filter-button" data-brand="ermanno scervino">ERMANNO SCERVINO</button>
                    <button class="filter-button" data-brand="etro">ETRO</button>
                    <button class="filter-button" data-brand="fabiana filippi">FABIANA FILIPPI</button>
                    <button class="filter-button" data-brand="fendi">FENDI</button>
                    <button class="filter-button" data-brand="giuseppe zanotti">GIUSEPPE ZANOTTI</button>
                    <button class="filter-button" data-brand="giuseppe di morabito">GIUSEPPE DI MORABITO</button>
                    <button class="filter-button" data-brand="palm angels">PALM ANGELS</button>
                    <button class="filter-button" data-brand="premiata">PREMIATA</button>
                    <button class="filter-button" data-brand="peserico">PESERICO</button>
                    <button class="filter-button" data-brand="panicale">PANICALE</button>
                    <button class="filter-button" data-brand="jil sander">JIL SANDER</button>
                    <button class="filter-button" data-brand="jacquemus">JACQUEMUS</button>
                    <button class="filter-button" data-brand="karl lagerfeld">KARL LAGERFELD</button>
                    <button class="filter-button" data-brand="khrisjoy">KHRISJOY</button>
                    <button class="filter-button" data-brand="kiton">KITON</button>
                    <button class="filter-button" data-brand="sara roka">SARA ROKA</button>
                    <button class="filter-button" data-brand="moorer">MOORER</button>
                    <button class="filter-button" data-brand="john hatter&co">JOHN HATTER&Co</button>
                    <button class="filter-button" data-brand="doucal\'s">DOUCAL'S</button>
                    <button class="filter-button" data-brand="balossa">BALOSSA</button>
                    <button class="filter-button" data-brand="domrebel">DOMREBEL</button>
                </div>
                <hr />
            </div>
            <div class="apply-filters-wrapper">
                <button class="action-button" id="apply-filters-button"><span class="text-regular">ПОКАЗАТЬ</span></button>
            </div>
        </div>

        <div></div>
    </div>
    <div class="empty" onclick='closeOnClick("products-fitler-wrapper")'></div>

</div>

@if (Model.Products.Any())
{
    <div id="main-content-wrapper-to-hide">
        <div class="products-inner">
            @if (Model != null)
            {
                @foreach (var product in Model.Products)
                {
                    await Html.RenderPartialAsync("ProductCard", product);
                }
            }
        </div>
        <div class="products-page-selector-wrapper">
            <div id="max-amount-counter" data-amount="@Model.MaxAmount" style="display:none"></div>
            <div class="products-page-selector">
                <button id="previous-page-button" class="products-page-button">
                    <span id="previous-page-button-content" class="product-page-button-content">&#10094;</span>
                </button>
                <button id="first-page-button" class="products-page-button">
                    <span id="first-page-button-content" class="product-page-button-content text-regular"></span>
                </button>
                <button id="second-page-button" class="products-page-button">
                    <span id="second-page-button-content" class="product-page-button-content text-regular"></span>
                </button>
                <button id="third-page-button" class="products-page-button">
                    <span id="third-page-button-content" class="product-page-button-content text-regular"></span>
                </button>
                <button id="forth-page-button" class="products-page-button">
                    <span id="forth-page-button-content" class="product-page-button-content text-regular"></span>
                </button>
                <button id="next-page-button" class="products-page-button">
                    <span id="next-page-button-content" class="product-page-button-content text-regular">&#10095;</span>
                </button>
            </div>
        </div>
    </div>
}
else
{
    <div class="empty-products-page">
        <div class="empty-products-message-wrapper">
            <span class="text-regular">
                По выбранным фильтрам 0 товаров.
            </span>
            <button class="action-button text-regular" onclick="location.href = '/products'">В КАТАЛОГ</button>
        </div>
    </div>
}
<script src="~/js/ProductsScript.js"></script>
<script src="~/js/BrandScript.js"></script>
<link href="~/css/BrandStyle.css" rel="stylesheet" />
<link href="~/css/ProductsStyle.css" rel="stylesheet" />
<link href="~/css/ProductCardStyle.css" rel="stylesheet">

