<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button button-active" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВЕЛЕГИЙ</span></button>
        <button id="navigatin-sizes-button" class="category-button" onclick="location.href = '/info/sizes';"><span class="text-medium">ТАБЛИЦА РАЗМЕРОВ</span></button>
    </div>
    <div class="mobile-section-header-wrappper">
        <div class="mobile-header">
            <span>ДОСТАВКА И ОПЛАТА</span>
        </div>
    </div>
    <div id="content" class="info-content-wrapper single-page-content" >
        <div class="collapsible-wrapper">
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">СПОСОБЫ ОПЛАТЫ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <ul>
                            <li><span>Наличными при получении заказа в бутике или курьеру (г. Челябинск)</span></li>
                            <li><span>Банковской картой при самовывозе (г. Челябинск)</span></li>
                            <li><span>Переводом или сбп</span></li>
                        </ul>

                        Оплата происходит через АО Альфа-банк с использованием Банковских карт платежных систем: МИР, VISA, Mastercard Worldwide, JCB.

                        Для оплаты Вы будете перенаправлены на платежный шлюз АО Альфа-банк. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается АО Альфа-банк. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
                    </p>
                </div>
                @*<svg xmlns="http://www.w3.org/2000/svg" width="620" height="2" viewBox="0 0 620 2" fill="none" class="svg-underline">
                <path d="M0 1H620" stroke="#CACACA" />
                </svg>*@
                <hr />
            </div>
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">СПОСОБЫ ДОСТАВКИ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <ul>
                            <li>самовывоз</li>
                            <li>курьером по г. Челябинск (бесплатно)</li>
@*                            <li>СДЭК (бесплатно)</li>
*@                        </ul>
                    </p>
                </div>
                <hr />
            </div>
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">КАК СДЕЛАТЬ ЗАКАЗ НА ДОСТАВКУ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <ol>
                            <li>Добавьте понравившийся товар в корзину</li>
                            <li>Заполните форму</li>
                            <li>Нажмите кнопку "оформить заказ"</li>
                            <li>Далее с Вами свяжется менеджер по почте, либо WhatsApp</li>
                            <li>Вы подтвердите заказ и оплатите его (сбп)</li>
                            <li>В этот же день мы отправим Вам товар с возможностью отслеживания</li>
                        </ol>
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">