<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button button-active" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВЕЛЕГИЙ</span></button>
        <button id="navigatin-sizes-button" class="category-button" onclick="location.href = '/info/sizes';"><span class="text-medium">ТАБЛИЦА РАЗМЕРОВ</span></button>
    </div>
    <div class="mobile-section-header-wrappper">
        <div class="mobile-header">
            <span>О НАС</span>
        </div>
    </div>
    <div id="content" class="info-content-wrapper">
        <div class="info-data-inner">
            <div class="info-data">
                <div class="info-content-text">
                    <span class="text-regular-small">
                        Collection — официальный представитель брендов с мировым именем на Урале. <br /> <br />
                        За нашими плечами — более 20 лет работы в индустрии премиальной моды. <br />
                        В стенах бутика представлены актуальные коллекции таких брендов, как: Bottega <br />
                        Veneta, Stella McCartney, Jacquemus, Jil Sander, Dries Van Noten и многих других. <br />
                        Мы дорожим своей репутацией и комфортом клиентов — вы всегда можете <br />
                        рассчитывать на индивидуальный подход и детальную консультацию: онлайн или <br />
                        офлайн. Ждём вас по адресу: Челябинск, Цвиллинга, 28 за одеждой, обувью и <br />
                        аксессуарами, которые говорят за себя сами. Находитесь в другом городе? <br />
                        С удовольствием оформим доставку до дверей дома!<br />
                    </span>
                </div>
                <img class="shop-photo" src="~/img/shop-photo.jpg" />
            </div>
            <div class="info-adress">
                <div class="contact">
                    <span class="contact-name text-small-caps">COLLECTION</span>
                    <div class="contact-adress">
                        <span class="adress text-regular-small">
                            г. Челябинск, Цвиллинга, 28 <br /><br />
                            +7 (351) 263-66-23<br />
                            +7 (908) 099-53-10<br /><br />
                            ПН-ПТ<br />
                            11:00 – 20:00<br />
                            СБ–ВС<br />
                            11:00 – 18:00<br />

                        </span>
                    </div>
                </div>
                <div class="contact">
                    <span class="contact-name text-small-caps">COLLECTION</span>
                    <div class="contact-adress">
                        <span class="adress text-regular-small">
                            г. Челябинск, Кирова, 163<br /><br />
                            +7 (351) 263-15-97<br />
                            +7 (922) 733-18-97<br /><br />
                            ПН-ПТ<br />
                            11:00 – 20:00<br />
                            СБ–ВС<br />
                            11:00 – 18:00<br />
                        </span>
                    </div>
                </div>
                <span id="mail-adress"></span>
                <div class="media-info-inner">
                    <a id="whatsapp-media" class="media-icon"><i></i></a>
                    <a id="telegram-media" class="media-icon"><i></i></a>
                    <a id="instagram-media" class="media-icon"><i></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">