<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button button-active" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВИЛЕГИЙ</span></button>
        @*<button id="navigatin-sizes-button" class="category-button" onclick="location.href = '/info/sizes';"><span class="text-medium">ПОДАРОЧНАЯ КАРТА</span></button>*@
    </div>
    <div class="mobile-section-header-wrappper">
        <div class="mobile-header">
            <span>О НАС</span>
        </div>
    </div>
    <div id="content" class="info-content-wrapper">
        <div class="info-wrapper">
            <div class="info-data-inner">
                <div class="info-data">
                    <div class="info-content-text">
                        <span class="text-regular-small">
                            Collection — официальный представитель брендов с мировым именем на Урале.
                            За нашими плечами — более 20 лет работы в индустрии премиальной моды.
                            В стенах бутика представлены актуальные коллекции таких брендов, как: Bottega
                            Veneta, Stella McCartney, Jacquemus, Jil Sander, Dries Van Noten и многих других.
                            Мы дорожим своей репутацией и комфортом клиентов — вы всегда можете
                            рассчитывать на индивидуальный подход и детальную консультацию: онлайн или
                            офлайн. Ждём вас по адресу: Челябинск, Цвиллинга, 28 за одеждой, обувью и
                            аксессуарами, которые говорят за себя сами. Находитесь в другом городе?
                            С удовольствием оформим доставку до дверей дома!
                        </span>
                    </div>
                    <div class="info-carousel-wrapper">
                        <div class="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="~/img/info-photo1.jpg" alt="Image 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo2.jpg" alt="Image 2">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo3.jpg" alt="Image 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo4.jpg" alt="Image 4">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo5.jpg" alt="Image 5">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo6.jpg" alt="Image 6">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/info-photo7.jpg" alt="Image 7">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-adress">
                    <div class="contact">
                        <span class="contact-name text-small-caps">COLLECTION</span>
                        <div class="contact-adress">
                            <span class="adress text-regular-small">г. Челябинск, Цвиллинга, 28</span>
                            <div class="phones-container text-regular-small">
                                <span>+7 (351) 263-66-23</span>
                                <span>+7 (908) 099-53-10</span>
                            </div>
                            <div class="info-schedule-container">
                                <div class="info-schedule">
                                    <span class="text-small-caps">ПН-ПТ</span>
                                    <span class="text-small-caps">11:00 - 20:00</span>
                                </div>
                                <div class="info-schedule">
                                    <span class="text-small-caps">СБ-ВС</span>
                                    <span class="text-small-caps">11:00 - 18:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="contact-name text-small-caps">VIA COLLECTION OUTLET</span>
                        <div class="contact-adress">
                            <span class="adress text-regular-small">г. Челябинск, Кирова, 163</span>
                            <div class="phones-container text-regular-small">
                                <span>+7 (351) 263-15-97</span>
                                <span>+7 (922) 733-18-97</span>
                            </div>
                            <div class="info-schedule-container">
                                <div class="info-schedule">
                                    <span class="text-small-caps">ПН-ПТ</span>
                                    <span class="text-small-caps">11:00 - 20:00</span>
                                </div>
                                <div class="info-schedule">
                                    <span class="text-small-caps">СБ-ВС</span>
                                    <span class="text-small-caps">11:00 - 18:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-and-media-container">
                        <span class="mail-adress text-regular-small">
                            collecti0n.info@yandex.ru
                        </span>
                        <div class="media-info-inner">
                            <a class="media-icon" href="https://wa.me/79080995310"><i class="icon-footer whatsapp-icon"></i></a>
                            <a class="media-icon" onclick="instagramLink()"><i class="icon-footer instagram-icon"></i></a>
                            <a class="media-icon" href="https://t.me/+79080995310"><i class="icon-footer telegram-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">
<script src="~/js/CarouselScript.js"></script>