<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button button-active" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВИЛЕГИЙ</span></button>
        @*<button id="navigatin-sizes-button" class="category-button" onclick="location.href = '/info/sizes';"><span class="text-medium">ПОДАРОЧНАЯ КАРТА</span></button>*@
    </div>
    <div class="mobile-section-header-wrappper">
        <div class="mobile-header">
            <span>БОНУСНАЯ ПРОГРАММА</span>
        </div>
    </div>
    <div id="content" class="info-content-wrapper single-page-content">
        <div class="priveledges-program-info">
            <p class="text-regular-small">
                После регистрации вы автоматически становитесь участником программы лояльности.
                <br /><br />
                Ваш индивидуальный статус карты зависит от суммы покупок в онлайн-магазине.
                Чем больше вы тратите, тем выше процент начисляемых бонусных баллов. Бонусами можно оплатить до 30% суммы заказа, 1 бонус = 1 рубль.
                <br /><br />
                Узнать тип своей карты и количество накопленных баллов можно в личном кабинете.
            </p>
        </div>
        <div class="priveleges-illustration-wrapper">
            <img src="~/img/priveledges-image.jpg" />
        </div>
        <div class="collapsible-wrapper priveledges-collapsible">
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">ТИПЫ КАРТ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <ul class="statuses-list">
                        <li class="bronze-info">
                            <div class="status-info">
                                <span class="bronze-status">БРОНЗА 5%</span> присваивается при совершении первой покупки и дает право на получение бонусных баллов в размере 5% от суммы покупок на сайте.
                            </div>
                        </li>
                        <li class="silver-info">
                            <div class="status-info">
                                <span class="silver-status">СЕРЕБРО 7%</span> присваивается при совершении покупок на 500 000 рублей и дает право на получение бонусных баллов в размере 7% от суммы покупок на сайте.
                            </div>
                        </li>
                        <li class="gold-info">
                            <div class="status-info">
                                <span class="gold-status">ЗОЛОТО 10%</span> присваивается при совершении покупок на 1 000 000 рублей и дает право на получение бонусных баллов размере 10% от суммы покупок на сайте.
                            </div>
                        </li>
                    </ul>
                    <ul class="statuses-info-description">
                        <li><span>Если в течение 12 месяцев с даты очередной покупки по Карте не достигается сумма покупок равная условиям для перехода на следующий уровень, размер Бонуса Карты не повышается.</span></li>
                        <li><span>Если в течение 12 месяцев с даты последней покупки не было продаж по Карте Участника Программы, все накопленные на Карте бонусы аннулируются.</span></li>
                        <li><span>На товары из раздела SALE бонусы списать нельзя. Бонусы с покупки из любого раздела начисляются на баланс на 15 день после доставки заказа. </span></li>
                        <li><span>Бонусами можно оплатить до 30%.</span></li>
                        <li><span>1 бонус =1 рубль</span></li>
                    </ul>
                </div>
                <hr />
            </div>
            <div class="collapsible">
                <button class="collapsible-button">
                    <span class="collapsible-name text-small-caps">ПУБЛИЧНАЯ ОФЕРТА</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <span class="public-oferta-info">
                            Карта действует при совершении покупок товаров на сайте www.collectionchel.ru Для того, чтобы стать Участником Программы, необходимо сделать первый заказ на сайте. Карта не является платежным средством. Бонусы, начисляемые в рамках Бонусной Программы, не являются эквивалентом денежных средств и не подлежат обмену на денежные средства. Карта может быть оформлена только на одно физическое лицо и служит для персонификации Участника Программы с идентификацией по ФИО и номеру мобильного телефона, указанного Участником Программы при заполнении им анкеты. При оформлении нескольких Карт Участником Программы на одно и то же физическое лицо (кроме замены Карты в случае утери) Организатор вправе заблокировать все Карты, кроме Карты, имеющей самую раннюю дату активации. Участник Программы может зарегистрироваться в Программе только один раз. Вступая в Программу, Участник дает согласие Организатору на обработку своих персональных данных в соответствии с Законом РФ «О персональных данных» N 152-ФЗ включая сбор, хранение, уточнение, использование, распространение, блокирование, уничтожение данных, а также согласие на использование его персональных данных для продвижения Организатором Программы товаров, работ и услуг напрямую с помощью телекоммуникационных средств (электронная почта, телефон, в том числе путем SMS-рассылки), а также дает согласие на передачу своих персональных данных во все торговые точки, перечисленные настоящей Офертой.
                        </span>
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">