<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button button-active" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВЕЛЕГИЙ</span></button>
        <button id="navigatin-sizes-button" class="category-button" onclick="location.href = '/info/sizes';"><span class="text-medium">ТАБЛИЦА РАЗМЕРОВ</span></button>
    </div>
    <div class="mobile-section-header-wrappper">
        <div class="mobile-header">
            <span>ВОЗВРАТ</span>
        </div>
    </div>
    <div id="content" class="info-content-wrapper" style="max-width:70%">
        <div class="refund-info text-regular-small">
            <p>
                Возврат товара надлежащего качества производится в течение 14 календарных дней.
                <br /><br />
                Соблюдайте основные правила ухода за товаром. При нарушении товарного вида приобретенной продукции Интернет-магазин вправе отказать в возврате.
            </p>    
        </div>
        <div class="collapsible-wrapper">
            <div class="collapsible">
                <button class="collapsible-button text-regular-small">
                    <span class="collapsible-name text-small-caps">КАК ВЕРНУТЬ ТОВАР</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <ol>
                            <li>Сообщите нам о вашем решении по номеру телефона +7 (908) 099-53-10 (звонок, WhatsApp, Viber) или на почту collecti0n.info@yandex.ru</li>
                            <li>Отправьте заполненное заявление на возврат и копию вашего паспорта (разворот с фото)</li>
                            <li>Отправьте товар любым удобным для вас способом по адресу: 454091, Россия, г. Челябинск, ул. Цвиллинга д. 28, интернет-магазин Collection.</li>
                            <li>Денежные средства будут возвращены на вашу банковскую карту в течение 10 дней после получения и проверки товара. Сроки зачисления средств зависят от условий вашего банка.</li>
                        </ol>
                    </p>
                </div>
                <hr/>
            </div>
            <div class="collapsible">
                <button class="collapsible-button text-regular-small">
                    <span class="collapsible-name text-small-caps">УСЛОВИЯ ВОЗВРАТА</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        Возврат товара надлежащего качества возможен в течение 14 дней при документа, подверждающего покупку, а также при условии, что указанный товар не был в употреблении и сохранены его потребительские свойства и товарный вид (ярлыки, пломбы, бирки, этикетки и оригинальная упаковка). Возврат возможен только для тех товаров, у которых сохранен товарный вид. Товар ненадлежащего качества должен пройти экспертизу, прежде чем мы сможем обменять его или вернуть вам деньги.
                    </p>
                </div>
                <hr/>
            </div>
            <div class="collapsible">
                <button class="collapsible-button text-regular-small">
                    <span class="collapsible-name text-small-caps">СРОКИ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        <ul>
                            <li><span>Возврат товара надлежащего качества возможен в течение 14 календарных дней</span></li>
                            <li><span>Денежные средства будут возвращены на вашу банковскую карту в течение 10 дней после получения и проверки товара</span></li>
                            <li><span>Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту)</span></li>
                        </ul>
                    </p>
                </div>
                <hr />
            </div>
            <div class="collapsible">
                <button class="collapsible-button text-regular-small">
                    <span class="collapsible-name text-small-caps">БРАК И ГАРАНТИЙНЫЕ СЛУЧАИ</span>
                    <i class="collapsible-icon"></i>
                </button>
                <div class="collapsible-content text-regular-small">
                    <p>
                        Все гарантийные случаи рассматриваются на основании «Закона о Защите Прав Потребителей». Признание товарного брака производится на основании решения независимой экспертизы по правилам и в сроки, установленные ст. 18, 20-22. Закон РФ «О защите прав потребителей» (закон о правах потребителя) от 07.02.1992 N 2300-1, за исключением случаев, когда брак является визуально очевидным. Пожалуйста, сохраняйте чеки.
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">
<link href="~/css/RefundStyle.css" rel="stylesheet">
<script src="~/js/InfoScript.js"></script>