<div class="info-inner">
    <div id="navigation" class="info-navigation-inner">
        <button id="navigatin-info-button" class="category-button" onclick="location.href = '/info';"><span class="text-medium">О НАС</span></button>
        <button id="navigatin-delivery-and-payment-button" class="category-button" onclick="location.href = '/info/delivery-and-payment';"><span class="text-medium">ДОСТАВКА И ОПЛАТА</span></button>
        <button id="navigatin-refund-button" class="category-button" onclick="location.href = '/info/refund';"><span class="text-medium">ВОЗВРАТ</span></button>
        <button id="navigatin-priveleges-button" class="category-button" onclick="location.href = '/info/priveleges';"><span class="text-medium">ПРОГРАММА ПРИВЕЛЕГИЙ</span></button>
        @*<button id="navigatin-sizes-button" class="category-button button-active" onclick="location.href = '/info/sizes';"><span class="text-medium">ПОДАРОЧНАЯ КАРТА</span></button>*@
    </div>
    <div id="content" class="info-content-wrapper">
    </div>
</div>

<link href="~/css/InfoStyle.css" rel="stylesheet">
<script src="~/js/InfoScript.js"></script>